{% extends 'base.html.twig' %}

{% block body %}
    <h1>About us</h1>

    <div class="about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer suscipit eros eu metus malesuada blandit.
        Nullam pharetra elementum dictum. In sem erat, rhoncus at eros eget, viverra mattis nisl. Nulla tempor aliquam
        dui, sit amet tempus ex tristique vitae. Donec ac augue vitae magna dictum consequat viverra in orci. Proin
        elit justo, porttitor eget orci eget, vehicula laoreet orci. Morbi efficitur auctor ultricies. Quisque eget
        nulla et nulla tincidunt porta. Pellentesque ac eleifend dolor. Aliquam erat volutpat. Duis ut sapien dignissim,
        dapibus dui luctus, ultricies quam. Phasellus eget fringilla enim. Maecenas et vehicula neque. Suspendisse
        posuere id neque et facilisis. Sed pellentesque, erat ac porta cursus, augue urna accumsan elit, nec dapibus
        dui ante id augue.
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} | About us
{% endblock %}

