{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Home{% endblock %}

{% block body %}
        <h1>Bienvenue sur Bucket-List</h1>

        <div>
                {# todo: insérer des capsules avec le titre, la date et un lien vers la description des 10 derniers souhaits #}
        </div>
{% endblock %}