{% extends 'base.html.twig' %}

{% block title %}
    {# todo: afficher le nom du souhait #} | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>{# todo: le nom du souhait #}</h2>

    {# todo: afficher toutes les infos du souhait #}
{% endblock %}