{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste de souhaits</h1>

    <div class="list-wish">
        <ol>
            {% for wish in wishes %}
                <li>
                    <a href="{{ path('wish_details', {'id': wish.id}) }}" title='Détails du souhait "{{ wish.title }}"'>
                        {{ wish.title }}
                    </a>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} | Wish list
{% endblock %}