{% extends 'base.html.twig' %}

{% block body %}
    <h1>Wish list</h1>

    <div>
        <ul>
            <li><a href="">Wish 1</a></li>
            <li><a href="">Wish 2</a></li>
            <li><a href="">Wish 3</a></li>
        </ul>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} | Wish list
{% endblock %}