<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" title="Accueil">Accueil</a></li>
        <li><a href="{{ path('wish_list') }}" title="Liste de souhaits">Liste de souhaits</a></li>
        <li><a href="{{ path('wish_create') }}" title="Ajouter un souhait">Ajouter un souhait</a></li>
        <li><a href="{{ path('main_about') }}" title="À propos de nous">À propos</a></li>
    </ul>
</nav>